$bg-primary-dark: #5c5757;
$bg-primary-black: #676161;

$border-shadow-dark: rgba(0, 0, 0, 0.25);
$border-light: #ececec;
$border-red: #924377;
$border-red-hover: #9e2475;

$pink-light: #f9e2f2;

$text-color: white;
