@use "../../../abstracts/variables" as *;

.form-control {
     margin: 0.5rem 0;

     color: $text-color;

     label {
          margin-bottom: 0.5rem;

          display: block;
          font-weight: bold;
     }

     input {
          width: 100%;
          padding: 0 0.25rem;

          border: 1px solid $border-light;

          background-color: $bg-primary-light;
          color: $text-color;
          font: inherit;
          line-height: 1.5rem;

          transition: all 0.2s ease-out;

          &:focus {
               border-color: rgba(255, 253, 253, 0.75);

               outline: none;
               background-color: $pink-light;
          }
     }
}
